# Ignore environment variables file
.env

# Ignore virtual environment directory
venv/
curesense-env/

# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/

# Ignore IDE or editor specific files
.vscode/
.idea/

# Ignore any log files
*.log
